.home a{
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.search-type {
    margin: 50px;
    background-color: white;
    display: inline-block;
    width: 200px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid black;
}
.search-type p {
    margin-top: 40px;
}
.search-type#search-city {
    box-shadow: -10px 10px black;
}
.search-type#search-country {
    box-shadow: 10px 10px black;
}
#search-city, #search-country{
    transition-timing-function: linear;
    transition: 0.5s;
}
.search-type#search-city:hover, .search-type#search-country:hover {
    box-shadow: 0px 0px;
    
}
