.city-page {
    text-align: center;
}
.population-info{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border-radius: 2px;
}
.population-info h3 {
    font-size: 45px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color: #161616;
}
.population-info p {
    font-size: 15px;
}
.wrapper a {
    font-family: 'Roboto', sans-serif;
}
.city {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #161616;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid #161616;
    box-shadow: 10px 10px #161616;
}
#city-1, #city-2, #city-3 {
    transition-timing-function: linear;
    transition: 0.5s;
}
.city:hover {
    box-shadow: 0px 0px;
}
.wrapper a {
    margin-bottom: 25px !important;
}
.wrapper p {
    margin: 0px;
}
#search-result-name {
    color: #161616;
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    letter-spacing: 1px;
}
.result-field {
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #161616;
    background-color: #f6d13a;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#search-type{
    font-size: 15px !important;
}