.city-page {
    text-align: center;
}
.population-info{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border-radius: 2px;
}
.population-info h3 {
    font-size: 50px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
.population-info p {
    font-size: 15px;
}
.wrapper a {
    font-family: 'Roboto', sans-serif;
}
.city {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid black;
}
.city {
    box-shadow: 10px 10px black;
}
.city:hover {
    box-shadow: 0px 0px;
}
.wrapper a {
    margin-bottom: 25px !important;
}
.wrapper p {
    margin: 0px;
}
.city#1{
    box-shadow: -10px 10px black;
}
#search-result-name {
    color: #5d5d5d;
}
.result-field {
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    border-radius: 4px;
    border: 3px solid #5d5d5d;
}