body {
   margin: 0;
   background-color: #AAB8BB;
   text-align: center;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    letter-spacing: 4px;
    font-size: 80px;
    margin: 0 auto;
    margin-top: 150px;
}
h2, p {
    font-family: 'Roboto', sans-serif;
    color: #697474
}