input[type=text]{
    color: #161616;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 0px;
    width: 330px;
    border-radius: 4px;
}
input[type=text]:focus, input[type=submit]:focus {
    outline: none;
    border: 0px;
}
input[type=submit]{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    border-radius: 4px;
    background-color: #f6d13a;
    color: white;
}
input[type=submit]:hover {
    color: #161616;
}
.input-field {
    background-color: #f6d13a;
    width: 430px;
    margin: 0 auto;
    border: 1px solid #161616;
    border-radius: 4px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}