input[type=text]{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding: 8px;
    margin: 20px;
    border-radius: 2px;
    border: 1px solid black;
}
input[type=submit]{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding: 8px;
    border-radius: 2px;
    border: 0px;
    cursor: pointer;
}